<a href="https://www.kaggle.com/code/swish9/comprehensive-text-data-preprocessing-tutorial?scriptVersionId=142185634" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# Objective:

The primary objective of this notebook is to guide you through the essential steps of data preprocessing for CSV-based data. By the end of this tutorial, you should be proficient in importing data, exploring datasets, handling missing values, detecting and removing outliers, encoding categorical variables, and normalizing numeric features.

# Notebook Content


1. **Importing Libraries (Practical):**
   - Begin by importing the necessary Python libraries, such as Pandas, NumPy, and scikit-learn, for data preprocessing.

2. **Importing Dataset (Practical):**
   - Load your CSV-based dataset into a Pandas DataFrame for further analysis.

3. **Exploring the Dataset (Practical):**
   - Some of the Pandas functions used here to explore and understand the dataset are:
     - `head()`: Display the first few rows of the DataFrame.
     - `tail()`: Display the last few rows of the DataFrame.
     - `duplicated()`: Identify duplicate rows in the DataFrame.
     - `drop_duplicates()`: Remove duplicate rows.
     - `describe()`: Provide summary statistics of numeric columns.
     - `info()`: Display information about the DataFrame, including data types and missing values.

4. **Handling Missing Values (Practical):**
   - Address missing values in both categorical and numeric columns using appropriate techniques (e.g., imputation, removal).

5. **Outlier Detection and Removal (Practical):**
   - Identify and handle outliers in numeric columns using visualizations (e.g., box plots) and suitable methods (e.g., removing or transforming outliers).

6. **Encoding Categorical Variables (Practical):**
   - Encode categorical variables using one-hot encoding or label encoding, depending on the nature of the data.

7. **Normalizing Numeric Features (Practical):**
   - Normalize numeric features using techniques like Min-Max Scaling or Standardization.

8. **Conclusion and Next Steps (Theory):**
   - Summarize the key takeaways from the notebook.
   - Suggest further preprocessing steps or additional analysis that can be performed on the cleaned dataset.

# Importing Libraries

In [39]:
import pandas as pd  # Data manipulation
import numpy as np  # Numerical operations
import matplotlib.pyplot as plt  # Data visualization
import seaborn as sns  # Enhanced data visualization
from sklearn.model_selection import train_test_split  # Data splitting
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, MinMaxScaler, StandardScaler # Data preprocessing
from sklearn.impute import SimpleImputer # Data preprocessing
from scipy import stats # statistics

# Importing Dataset

In [40]:
df = pd.read_csv('/kaggle/input/students-exam-scores/Expanded_data_with_more_features.csv') # Importing dataset

# Basic Dataset Exploration

In [41]:
df.head()  # Display the first 5 rows of the DataFrame

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

In [42]:
df.tail()  # Display the last 5 rows of the DataFrame

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [43]:
df.sample(n=5)  # Display the random n rows of the DataFrame

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
3421,616,female,group E,high school,free/reduced,completed,single,sometimes,yes,2.0,school_bus,< 5,53,67,60
18792,988,male,group C,bachelor's degree,standard,completed,single,sometimes,no,3.0,private,< 5,59,67,65
8833,352,male,group B,master's degree,free/reduced,none,married,sometimes,yes,1.0,private,< 5,57,50,57
20438,747,male,group E,bachelor's degree,free/reduced,none,married,regularly,yes,1.0,school_bus,5 - 10,48,46,45
25845,556,female,group C,bachelor's degree,standard,completed,married,sometimes,yes,0.0,school_bus,5 - 10,71,77,76

In [44]:
num_rows, num_columns = df.shape
df.shape

(30641, 15)

In [45]:
df.columns # Display column name

Index(['Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
       'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore',
       'ReadingScore', 'WritingScore'],
      dtype='object')

One-line explanation for each column in the provided DataFrame:

1. **'Unnamed: 0'**: Likely an index or identifier column.
2. **'Gender'**: Gender of the student (e.g., male or female).
3. **'EthnicGroup'**: Ethnic group or background of the student.
4. **'ParentEduc'**: Education level of the student's parent(s).
5. **'LunchType'**: Type of lunch the student receives (e.g., free/reduced or standard).
6. **'TestPrep'**: Whether the student completed test preparation (e.g., yes or no).
7. **'ParentMaritalStatus'**: Marital status of the student's parent(s).
8. **'PracticeSport'**: Whether the student practices a sport (e.g., yes or no).
9. **'IsFirstChild'**: Whether the student is the first child in the family (e.g., yes or no).
10. **'NrSiblings'**: Number of siblings the student has.
11. **'TransportMeans'**: Means of transportation to school (e.g., bus, car, etc.).
12. **'WklyStudyHours'**: Number of weekly study hours.
13. **'MathScore'**: Score in the math exam.
14. **'ReadingScore'**: Score in the reading exam.
15. **'WritingScore'**: Score in the writing exam.

In [46]:
df.describe(include='all').T # statistics

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,30641.0,NaN,NaN,NaN,499.556607,288.747894,0.0,249.0,500.0,750.0,999.0
Gender,30641,2,female,15424,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EthnicGroup,28801,5,group C,9212,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ParentEduc,28796,6,some college,6633,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LunchType,30641,2,standard,19905,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TestPrep,28811,2,none,18856,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ParentMaritalStatus,29451,4,married,16844,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PracticeSport,30010,3,sometimes,15213,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IsFirstChild,29737,2,yes,19082,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NrSiblings,29069.0,NaN,NaN,NaN,2.145894,1.458242,0.0,1.0,2.0,3.0,7.0
TransportMeans,27507,2,school_bus,16145,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WklyStudyHours,29686,3,5 - 10,16246,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MathScore,30641.0,NaN,NaN,NaN,66.558402,15.361616,0.0,56.0,67.0,78.0,100.0
ReadingScore,30641.0,NaN,NaN,NaN,69.377533,14.758952,10.0,59.0,70.0,80.0,100.0
WritingScore,30641.0,NaN,NaN,NaN,68.418622,15.443525,4.0,58.0,69.0,79.0,100.0

In [47]:
df.dtypes # Display Datatypes of columns

Unnamed: 0               int64
Gender                  object
EthnicGroup             object
ParentEduc              object
LunchType               object
TestPrep                object
ParentMaritalStatus     object
PracticeSport           object
IsFirstChild            object
NrSiblings             float64
TransportMeans          object
WklyStudyHours          object
MathScore                int64
ReadingScore             int64
WritingScore             int64
dtype: object

In [48]:
df.count() # Display non-null values

Unnamed: 0             30641
Gender                 30641
EthnicGroup            28801
ParentEduc             28796
LunchType              30641
TestPrep               28811
ParentMaritalStatus    29451
PracticeSport          30010
IsFirstChild           29737
NrSiblings             29069
TransportMeans         27507
WklyStudyHours         29686
MathScore              30641
ReadingScore           30641
WritingScore           30641
dtype: int64

In [49]:
df[df.isna()] # Display null rows

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df.isnull().sum() # Display null values

Unnamed: 0                0
Gender                    0
EthnicGroup            1840
ParentEduc             1845
LunchType                 0
TestPrep               1830
ParentMaritalStatus    1190
PracticeSport           631
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [51]:
df.nunique() # Display Count of Unique Values in a Columns

Unnamed: 0             1000
Gender                    2
EthnicGroup               5
ParentEduc                6
LunchType                 2
TestPrep                  2
ParentMaritalStatus       4
PracticeSport             3
IsFirstChild              2
NrSiblings                8
TransportMeans            2
WklyStudyHours            3
MathScore                95
ReadingScore             90
WritingScore             93
dtype: int64

In [52]:
df.duplicated().sum() # Display Count of Duplicated Values in a Datafram

0

In [53]:
df.drop_duplicates() # Dropping Duplicates

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [54]:
df.info() # Display info about the Datafrme

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           30641 non-null  int64
 1   Gender               30641 non-null  object
 2   EthnicGroup          28801 non-null  object
 3   ParentEduc           28796 non-null  object
 4   LunchType            30641 non-null  object
 5   TestPrep             28811 non-null  object
 6   ParentMaritalStatus  29451 non-null  object
 7   PracticeSport        30010 non-null  object
 8   IsFirstChild         29737 non-null  object
 9   NrSiblings           29069 non-null  float64
 10  TransportMeans       27507 non-null  object
 11  WklyStudyHours       29686 non-null  object
 12  MathScore            30641 non-null  int64
 13  ReadingScore         30641 non-null  int64
 14  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 3.5+ MB

# Data Preprocessing

In [ ]:
categorical_cols = df.select_dtypes(include=['object']).columns # Selecting categorical columns 
numeric_cols = df.select_dtypes(include=[np.number]).columns # Selecting numerical columns

**Handling Categorical Missing Values**

In [ ]:
categorical_imputer = SimpleImputer(strategy='most_frequent')

**SimpleImputer(strategy='most_frequent')** is a data preprocessing technique that replaces missing values in a dataset with the most frequent value (mode) for each respective column. It's often used for categorical data where missing values are replaced with the category that occurs most frequently in that column.

In [ ]:
df[categorical_cols] = categorical_imputer.fit_transform(df[categorical_cols])

In [ ]:
df[categorical_cols].isnull().sum() # Varifying if categorical missing values are handled well

**Handling Numerical Missing Values**

In [ ]:
# This is standard approach but it will also outliers i.e. extremely outperforming values which kinda will add noise to data
# numeric_imputer = SimpleImputer(strategy='mean')
# data[numeric_cols] = numeric_imputer.fit_transform(data[numeric_cols])

# So we'll be using Trimmed mean approach for handling numeric values 

for col in numeric_cols:
    # Calculate the trimmed mean (5%)
    trimmed_mean = stats.trim_mean(df[col].dropna(), proportiontocut=0.05)
    df[col].fillna(trimmed_mean, inplace=True)

Using a trimmed mean (e.g., 5%) instead of a simple imputer mean strategy is preferred when you want to:

1. **Reduce Outlier Influence:** Mitigate the impact of outliers or extreme values on the central tendency measure.
   
2. **Preserve Data Distribution:** Retain more information about the underlying data distribution.

3. **Fine-Tune Trimming:** Have control over the percentage of data points to trim, allowing customization based on your dataset characteristics.

In [ ]:
df[numeric_cols].isnull().sum() # Varifying if categorical missing values are handled well

**Encoding Categorical features**

In [ ]:
# Initialize the OneHotEncoder with drop='first'
encoder = OneHotEncoder(drop='first', sparse_output=False)
# ‘first’ : drop the first category in each feature.
# sparse_output: Will return sparse matrix if set True else will return an array.

One-Hot Encoding (OHE) with "drop first" is a variation of OHE where one category is dropped to avoid multicollinearity, which can occur when you have binary columns that are perfectly correlated. 

Here's how it works:

- If you have a categorical feature with `n` categories, OHE without "drop first" would create `n` binary columns.

- OHE with "drop first" creates only `n - 1` binary columns. It drops one category (usually the first) and represents it indirectly through the absence of all the other categories being 1.

**Example:**

Let's say you have a categorical feature "Color" with three categories: Red, Blue, and Green.

Without "drop first," OHE creates three binary columns:

- Red: 1 if the color is Red, 0 otherwise.
- Blue: 1 if the color is Blue, 0 otherwise.
- Green: 1 if the color is Green, 0 otherwise.

With "drop first," OHE creates two binary columns:

- Blue: 1 if the color is Blue, 0 otherwise.
- Green: 1 if the color is Green, 0 otherwise.

In this example, the absence of both Blue and Green being 1 implies that the color is Red. So, you can represent all three categories with two binary columns instead of three, which can be useful for some machine learning algorithms.

In [ ]:
# Fit and transform the encoder on categorical columns
encoded_cols = encoder.fit_transform(df[categorical_cols])

In [ ]:
# Create a DataFrame from the encoded columns
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out(categorical_cols))
#  concatenates encoded feature name and category with feature + "_" + str(category).E.g. feature X with values 1, 6, 7 create feature names X_1, X_6, X_7

In [ ]:
# Drop the original categorical columns from the original DataFrame
df.drop(categorical_cols, axis=1, inplace=True)

In [ ]:
# Concatenate the original DataFrame with the encoded DataFrame
df = pd.concat([df, encoded_df], axis=1)
df.head(2)

In [ ]:
df.dtypes # Verifying the encoding procedure

**Outlier Detection**

**Outliers** are data points that significantly differ from the rest of the observations in a dataset. They can be exceptionally high or low values compared to the majority of data points.

**Why Remove Outliers:**

Outliers can distort statistical analyses and models, leading to biased results.
They can skew the mean and standard deviation, affecting the overall data distribution.
Some machine learning algorithms are sensitive to outliers, impacting their performance.
Outliers can represent data errors or anomalies that may not reflect the true underlying patterns.

In [ ]:
df.mean()

In [ ]:
plt.figure(figsize=(16, 10))
plt.subplot(1, 2, 1)
sns.boxplot(data=df, orient="h")

In [ ]:
# Create subplots for violin plots
plt.figure(figsize=(16, 10))
plt.subplot(1, 2, 2)
sns.violinplot(data=df, orient="h", inner="quart")

In [ ]:
threshold = 2 # The threshold variable is set to a value that determines how far away from the mean is considered an outlier
df = df[(np.abs(df - df.mean()) < threshold * df.std()).all(axis=1)] # (x - mean) / std represents the z-score or standard score of a data point x in a dataset.

In [ ]:
df.mean()

**Normalizing Data**

In [ ]:
# Initialize the MinMaxScaler
MMS = MinMaxScaler()

**MinMaxScaler** is a data preprocessing technique used to transform numeric data, typically features, into a specific range, usually between 0 and 1. It scales and shifts the original values so that they fall within this specified range while maintaining their relative relationships.

Here's a brief explanation:

- **Scaling Range**: MinMaxScaler scales the original data within a specified range, often between 0 and 1, but you can adjust this range as needed.

- **Formula**: It uses the following formula to transform each data point `X` to its scaled counterpart `X_scaled`:

  ```
  X_std = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
  X_scaled = X_std * (max - min) + min
  
  ```


  Where `X_min` is the minimum value in the original dataset, and `X_max` is the maximum value.

- **Normalization**: MinMax scaling is a form of normalization that makes the data more suitable for machine learning algorithms that are sensitive to the scale of the features. It preserves the relationships between data points and maintains the data's distribution.

**Example**:

Suppose you have a dataset with a feature "Age," and the ages range from 20 to 60. By applying MinMaxScaler with a range of 0 to 1:

- Age 20 would be scaled to 0.
- Age 60 would be scaled to 1.
- Ages in between 20 and 60 would be scaled proportionally between 0 and 1, preserving their relative positions.

MinMaxScaler is commonly used when you want to ensure that different features have the same scale, especially in machine learning algorithms like support vector machines (SVM) or k-nearest neighbors (KNN), where the scale of features can impact the results.

In [ ]:
# Fit and transform the scaler on numeric columns
df[numeric_cols] = MMS.fit_transform(df[numeric_cols])

In [ ]:
df.head(3)

In [ ]:
df.describe(include='all').T # vering the normalization

In [ ]:
df.corr()

# Conclusion

**In conclusion, this comprehensive CSV data preprocessing tutorial has covered essential steps to prepare your dataset for analysis, visualization, and machine learning applications.**